---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Rios de Agua Viva Chinandega"
---

<BaseLayout pageTitle={ pageTitle }>
	<h1>{pageTitle}</h1>
	<img src="/background-wl.webp" alt="">
</BaseLayout>