---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Rios de Agua Viva Chinandega"
---

<BaseLayout pageTitle={ pageTitle }>
	<div>
		<h1 class="font-bold text-3xl text-center p-4">
			Bienvenidos a la pagina de RAVCH 2026!.
		</h1>
	</div>
</BaseLayout>