---
import { Image } from "astro:assets"
import banner_morning from "../assets/banner.webp"
import banner_night from "../assets/banner2.jpg"
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Rios de Agua Viva Chinandega"
---

<BaseLayout pageTitle={ pageTitle }>
	<div>
		<h1 class="font-bold text-3xl text-text-details-light text-center p-2 sm:pt-4">
			Bienvenidos a la pagina de RAVCH 2026!.
		</h1>
		<p class="text-center text-text-details-light py-2 px-4 lg:px-40">
			<b class="text-xl">Dios les bendiga!</b> <br> <b>El Ministerio Evangelistico Rios de Agua Viva Chinandega</b>
			les da la bienvenida a su pagina web oficial donde conocera sobre la <b>Mision</b>,
			<b>Vision</b> y <b>objetivo principal</b> de nuestro ministerio. <br> Tambien conocera
			sobre nuestros eventos y transmisiones en vivo en nuestra pagina de Facebook
			<a
				href="https://www.facebook.com/Riosdeaguavivachinandega"
				class="cursor-pointer transition-all hover:text-acent-light hover:border-b-2"
				target="_blank"
			><b>Rios De Agua Viva "Chinandega"</b></a>
		</p>
		<div>
			<h2 class="text-text-details-light p-2 text-center text-2xl font-bold">Horarios de culto</h2>
			<div class="grid grid-cols-1 sm:grid-cols-2 p-2 gap-2">
				<Image
					src={ banner_morning }
					alt="Horario por la mañana"
					class="p-2 bg-secondary-light rounded-xl"
				></Image>
				<Image
					src={ banner_night }
					alt="Horario por la mañana"
					class="p-2 bg-secondary-light rounded-xl"
				></Image>
			</div>
		</div>
		<div>
			<!-- Ultima transmision de facebook -->
			 <h2 class="text-text-details-light p-2 text-center text-2xl font-bold">Ultima transmision de Facebook</h2>
		</div>
		<div>
			<!-- versiculo del dia -->
			 <h2 class="text-text-details-light p-2 text-center text-2xl font-bold">Versiculo del dia</h2>
		</div>
	</div>
</BaseLayout>