---
---

<footer class="bg-secondary-light text-gray-300 text-center p-4">
  <h2 class="p-2">Rios de Agua Viva Chinandega</h2>
  <p class="p-2">
    Copyright &copy; - Todos los derechos pertenecen al Ministerio
    Evangelistico Rios de Agua Viva Chinandega. <br> 2026 - Año de mas uncion.
  </p>
</footer>