---
import { Icon } from "astro-icon/components";
---

<!-- MOBILE SIDEBAR -->
<button onclick="Open()" class="fixed text-3xl bg-secondary-light text-white rounded p-2 top-5 left-4 cursor-pointer transition-transform hover:scale-105">
  <Icon name="heroicons:bars-3-bottom-left" />
</button>
<div class="sidebar fixed min-h-dvh w-60 p-2 -translate-x-full lg:left-0 text-center overflow-y-auto bg-secondary-light transition-all duration-300 ease-in-out">
  <!-- ENCABEZADO  -->
  <div class="text-gray-100 text-xl flex items-center">
    <img src="/logo-wb.webp" alt="Logo del ministerio" class="size-8">
    <div class="p-2 mt-1 flex items-center gap-16">
      <h1 class="font-bold text-gray-300">RAVCH</h1>
      <button onclick="Open()" class="text-3xl text-gray-300 rounded p-2 cursor-pointer transition-transform hover:scale-105">
        <Icon name="mdi:close" />
      </button>
    </div>
  </div>

  <hr class="mt-2 text-gray-100">

  <!-- ENLACES -->
  <nav class="py-2 px-4 mt-2 flex items-start flex-col gap-6 text-gray-300">
    <a
      href="/"
      class="w-full py-1 px-2 rounded-xl text-left font-semibold flex items-center gap-2 transition-colors hover:bg-acent-light hover:text-text-details-light"
    >
      <div class="text-2xl">
        <Icon name="heroicons:home-solid" />
      </div>
      Pagina Principal
    </a>
    <a
      href="/about"
      class="w-full py-1 px-2 rounded-xl text-left font-semibold flex items-center gap-2 transition-colors hover:bg-acent-light hover:text-text-details-light"
    >
      <div class="text-2xl">
        <Icon name="heroicons:user-group-16-solid" />
      </div>
      Acerca de
    </a>
    <a
      href="/social"
      class="w-full py-1 px-2 rounded-xl text-left font-semibold flex items-center gap-2 transition-colors hover:bg-acent-light hover:text-text-details-light"
    >
      <div class="text-2xl">
        <Icon name="heroicons:camera-20-solid" />
      </div>
      Redes Sociales
    </a>
  </nav>
</div>
<script is:inline>
  function Open() {
    document.querySelector(".sidebar")?.classList.toggle("-translate-x-full")
  }
</script>