---
import MobileSideBar from "../components/MobileSideBar.astro";
import "../styles/global.css"
import { ClientRouter } from "astro:transitions";
const { pageTitle } = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>{ pageTitle }</title>
    <link rel="icon" type="image/svg+xml" href="/logo-wb.webp" />
		<link rel="icon" href="/logo-wb.webp" />
    <ClientRouter />
	</head>
	<body class="bg-background-light h-dvh">
		<MobileSideBar />
		<slot></slot>
	</body>
</html>
